.topic {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #DDD;
  padding: 1px 5px;
}

.collapse-icon {
  float:right;
}

.conv_img {
  height: 40px;
  width: auto;
}

.from {
  background-color: #81D4FA;
}

.to {
  float: right;
  background-color: #fff;
  border: 1px solid #DDD;
}

.to, .from {
  padding: 5px 5px 0px;
  margin-bottom: 5px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.discussion p, .discussion strong {
  font-size: 0.8em;
}

.discussion button {
  width: 100%;
}

.discussion button > a {
  color: white;
}

#image {
  margin-bottom: 5px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}