h3 {
  margin-top: 0;
}

a {
  color: black;
}

hr {
  margin: 0;
}

.container .row {
  padding: 10px 0 10px;
}

.navbar-brand {
  position: relative;
  left: 32%;
}

.msg_img {
  height: 70px;
  width: auto;
}

.container {
  margin-top: 50px;
}

.btn-danger {
  padding: 3px 6px 3px;
}

.prev_message {
  margin-left: 30px;
}

.time {
  position: absolute;
  top: 55%;
  left: 79%;
}

.btn-danger {
  position: relative;
  top: 20px;
}
